


<div class="section section-info">
    <div class="container">
        <div class="row">
            <div class="col-md-6"><img src="http://www.masini.ro/upload/30/gallery/8181/bmw-seria-7--sedan-sedan-2008_1.jpeg"
                                       class="img-responsive"></div>
            <div class="col-md-6"><h1>InfoCar</h1>

                <h3>Locul unde iti salvezi datele masinii tale</h3>

                <p>Cu InfoCar ai toate datele importante masinii tale stocate intr-un loc sigur! Nu
                mai ai nevoie de agende sa scrii cand expira garantia la masina!
                Hai si tu! Este gratuit.</p></div>
        </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
            </div>

        <div class="row">

            <div class="col-md-6"><h1>InfoCar</h1>

                <h3>Masina ta este in siguranta la noi!</h3>

                <p>Hai cu masina pana la sfarsitul lunii ianuarie si vei avea acces la partea
                premium a acestei platforme!</p></div>

            <div class="col-md-6"><img src="http://husa-auto.ro/wp-content/uploads/2015/09/audi-q7-aud_q7_09_1.jpg"
                                       class="img-responsive"></div>
        </div>


    </div>

</div>



