<!doctype html>
<html ng-app="infoCarV2">
<head>

    <% include templates/head.ejs %>

</head>

<body>

    <% include templates/header.ejs %>

   <%- body%>

    <% include templates/footer.ejs %>

</body>
</html>