<div class="section" style="margin-top:100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-8 col-md-8">
                <form class="form-horizontal" ng-controller="loginCtrl" name="loginForm" novalidate>
                    <fieldset>
                        <legend>Login</legend>
                        <div class="form-group" ng-class="{'has-error' : loginForm.email.$invalid && loginForm.email.$dirty, 'has-success' :
                        loginForm.email.$valid && loginForm.email.$dirty}">
                            <label for="inputEmail" class="col-lg-2 control-label">Email</label>

                            <div class="col-lg-10">
                                <input type="email" name="email" class="form-control" id="inputEmail"
                                       placeholder="Email" required ng-model="user.email">
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : loginForm.password.$invalid && loginForm.password.$dirty, 'has-success' :
                        loginForm.password.$valid && loginForm.password.$dirty}">
                            <label for="inputPassword" class="col-lg-2 control-label">Password</label>

                            <div class="col-lg-10">
                                <input type="password" name="password" ng-model="user.password" class="form-control"
                                       id="inputPassword" placeholder="Password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid" ng-click="login()">Login
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>