<div class="section" ng-controller="carController">
    <div class="container" >
        <div class="row">
            <div class="col-md-6">
                <h2>Masinile mele</h2>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="car in cars | orderBy : 'marca'">
                        <span class="pull-right" ng-controller="editCarModal">
                            <button class="btn btn-xs btn-primary" type="button" ng-click="getC(car);open()" >Editeaza</button>
                            <button class="btn btn-xs btn-danger" ng-click="deleteCar(car.id)">Sterge</button>
                        </span>
                       <p> {{ car.marca }} {{ car.model }} </p>
                    </li>
                </ul>

            </div>
        </div>

        <div class="row">

                <table class="table table-striped table-hover ">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Numar Inmatriculare</th>
                        <th>Tip Automobil</th>
                        <th>Marca</th>
                        <th>Model</th>
                        <th>Data fabricatie</th>
                        <th>KM</th>
                        <th>Data iesire garantie</th>
                        <th>Alte informatii</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="car in cars | orderBy : 'marca'">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ car.nr_inmatriculare }}</td>
                        <td>{{ car.tip_auto }}</td>
                        <td>{{ car.marca | uppercase }}</td>
                        <td>{{ car.model | uppercase  }}</td>
                        <td>{{ car.data_fabricatie | date : filter : longdate}}</td>
                        <td>{{ car.km | number }}</td>
                        <td>{{ car.iesire_garantie | date : filter : longdate }}</td>
                        <td>{{ car.alte_info }}</td>
                    </tr>
                    </tbody>
                </table>
            <a class="btn btn-lg btn-primary" ng-click="toggle()">Adauga masina</a>
            <button class="btn btn-lg btn-info" ng-click="refresh()">Refresh</button>
            </div>

        <div class="row">
            <div class="col-md-6" ng-controller="carController">
                <form class="form-horizontal" ng-show="show" style="margin-top: 30px" name="newCarForm">
                    <fieldset>
                        <legend ng-model="mesaj" ng-style="style">{{ mesaj }}</legend>
                        <div class="form-group" ng-class="{'has-error' : newCarForm.marca.$invalid && newCarForm.marca.$dirty, 'has-success' :
                        newCarForm.marca.$valid && newCarForm.marca.$dirty}">
                            <label for="inputMarca" class="col-lg-2 control-label">Marca</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputMarca" placeholder="Audi" ng-model="newCar.marca" name="marca" required>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : newCarForm.model.$invalid && newCarForm.model.$dirty, 'has-success' :
                        newCarForm.model.$valid && newCarForm.model.$dirty}">
                            <label for="inputModel" class="col-lg-2 control-label">Model</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputModel" placeholder="A4" ng-model="newCar.model" required name="model">
                            </div>
                        </div>

                        <div class="form-group" >
                            <label for="tipAuto" class="col-lg-2 control-label">Tip Automobil</label>
                            <div class="col-lg-10">
                                <select class="form-control" id="tipAuto" ng-model="newCar.tip_auto">
                                    <option value="Berlina">Berlina</option>
                                    <option value="Break">Break</option>
                                    <option value="Cabrio">Cabrio</option>
                                    <option value="Coupe">Coupe</option>
                                    <option value="Hatchback">Hatchback</option>
                                    <option value="SUV">SUV</option>
                                    <option value="Van">Van</option>
                                    <option value="Off-road (4x4)">Off-road (4x4)</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group" ng-class="{'has-error' : newCarForm.nr_inmatr.$invalid && newCarForm.nr_inmatr.$dirty, 'has-success' :
                        newCarForm.nr_inmatr.$valid && newCarForm.nr_inmatr.$dirty}">
                            <label for="nrInmatr" class="col-lg-2 control-label">Numar Inmatriculare</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="data_fabricatie" placeholder="IF-22-MGI" ng-model="newCar.nr_inmatriculare" required name="nr_inmatr" ng-pattern="/^\w{1,2}\-\d{2,3}\-\w{3}$/">
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error' : newCarForm.data_fabr.$invalid && newCarForm.data_fabr.$dirty, 'has-success' :
                        newCarForm.data_fabr.$valid && newCarForm.data_fabr.$dirty}">
                            <label for="data_fabricatie" class="col-lg-2 control-label">Data fabricatie</label>
                            <div class="col-lg-10">
                                <input type="date" class="form-control" id="data_fabricatie" placeholder="2015-02-03" ng-model="newCar.data_fabricatie" required name="data_fabr">
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error' : newCarForm.km.$invalid && newCarForm.km.$dirty, 'has-success' :
                        newCarForm.km.$valid && newCarForm.km.$dirty}">
                            <label for="km" class="col-lg-2 control-label">KM (la bord)</label>
                            <div class="col-lg-10">
                                <input type="number" class="form-control" id="km" placeholder="12300" ng-model="newCar.km" required name="km" min="0">
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error' : newCarForm.ies_garant.$invalid && newCarForm.ies_garant.$dirty, 'has-success' :
                        newCarForm.ies_garant.$valid && newCarForm.ies_garant.$dirty}">
                            <label for="iesire_garantie" class="col-lg-2 control-label">Data iesire garantie</label>
                            <div class="col-lg-10">
                                <input type="date" class="form-control" id="iesire_garantie" placeholder="2018-02-03" ng-model="newCar.iesire_garantie" required name="ies_garant">
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error' : newCarForm.alte_info.$invalid && newCarForm.alte_info.$dirty, 'has-success' :
                        newCarForm.alte_info.$valid && newCarForm.alte_info.$dirty}">
                            <label for="alteInfo" class="col-lg-2 control-label">Alte informatii</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" rows="3" id="alteInfo" ng-model="newCar.alte_info" required name="alte_info"></textarea>
                                <span class="help-block">Alte informatii despre masina (avarii, stare, etc).</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="btn btn-primary" ng-disabled="newCarForm.$invalid" ng-click="addCar()">Adauga</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <!-------------------------------------------------------------MODAL----------------------------->
        <div>
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">{{ carM.marca }} - {{ carM.model }}</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" style="margin-top: 30px" name="modalForm">
                        <fieldset>
                            <div class="form-group" ng-class="{'has-error' : modalForm.marca.$invalid && modalForm.marca.$dirty, 'has-success' :
                        modalForm.marca.$valid && modalForm.marca.$dirty}">
                                <label for="inputMarca" class="col-lg-2 control-label">Marca</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputMarca" placeholder="Audi" ng-model="carM.marca" name="marca" required>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error' : modalForm.model.$invalid && modalForm.model.$dirty, 'has-success' :
                        modalForm.model.$valid && modalForm.model.$dirty}">
                                <label for="inputModel" class="col-lg-2 control-label">Model</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputModel" placeholder="A4" ng-model="carM.model" required name="model">
                                </div>
                            </div>

                            <div class="form-group" >
                                <label for="tipAuto" class="col-lg-2 control-label">Tip Automobil</label>
                                <div class="col-lg-10">
                                    <select class="form-control" id="tipAuto" ng-model="carM.tip_auto">
                                        <option value="Berlina">Berlina</option>
                                        <option value="Break">Break</option>
                                        <option value="Cabrio">Cabrio</option>
                                        <option value="Coupe">Coupe</option>
                                        <option value="Hatchback">Hatchback</option>
                                        <option value="SUV">SUV</option>
                                        <option value="Van">Van</option>
                                        <option value="Off-road (4x4)">Off-road (4x4)</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group" ng-class="{'has-error' : modalForm.nr_inmatr.$invalid && modalForm.nr_inmatr.$dirty, 'has-success' :
                        modalForm.nr_inmatr.$valid && modalForm.nr_inmatr.$dirty}">
                                <label for="nrInmatr" class="col-lg-2 control-label">Numar Inmatriculare</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="data_fabricatie" placeholder="IF-22-MGI" ng-model="carM.nr_inmatriculare" required name="nr_inmatr" ng-pattern="/^\w{1,2}\-\d{2,3}\-\w{3}$/">
                                </div>
                            </div>

                            <div class="form-group" ng-class="{'has-error' : modalForm.data_fabr.$invalid && modalForm.data_fabr.$dirty, 'has-success' :
                        modalForm.data_fabr.$valid && modalForm.data_fabr.$dirty}">
                                <label for="data_fabricatie" class="col-lg-2 control-label">Data fabricatie</label>
                                <div class="col-lg-10">
                                    <input type="date" class="form-control" id="data_fabricatie" placeholder="2015-02-03" ng-model="carM.data_fabricatie" required name="data_fabr">
                                </div>
                            </div>

                            <div class="form-group" ng-class="{'has-error' : modalForm.km.$invalid && modalForm.km.$dirty, 'has-success' :
                        modalForm.km.$valid && modalForm.km.$dirty}">
                                <label for="km" class="col-lg-2 control-label">KM (la bord)</label>
                                <div class="col-lg-10">
                                    <input type="number" class="form-control" id="km" placeholder="12300" ng-model="carM.km" required name="km" min="0">
                                </div>
                            </div>

                            <div class="form-group" ng-class="{'has-error' : modalForm.ies_garant.$invalid && modalForm.ies_garant.$dirty, 'has-success' :
                        modalForm.ies_garant.$valid && modalForm.ies_garant.$dirty}">
                                <label for="iesire_garantie" class="col-lg-2 control-label">Data iesire garantie</label>
                                <div class="col-lg-10">
                                    <input type="date" class="form-control" id="iesire_garantie" placeholder="2018-02-03" ng-model="carM.iesire_garantie" required name="ies_garant">
                                </div>
                            </div>

                            <div class="form-group" ng-class="{'has-error' : modalForm.alte_info.$invalid && modalForm.alte_info.$dirty, 'has-success' :
                        modalForm.alte_info.$valid && modalForm.alte_info.$dirty}">
                                <label for="alteInfo" class="col-lg-2 control-label">Alte informatii</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control" rows="3" id="alteInfo" ng-model="carM.alte_info" required name="alte_info"></textarea>
                                    <span class="help-block">Alte informatii despre masina (avarii, stare, etc).</span>
                                </div>
                            </div>

                            <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="modalForm.$invalid">OK</button>
                            <button class="btn btn-warning" type="button" ng-click="cancel()">Inchide</button>

                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </script>
        </div>




    </div>
</div>





