<div class="section" style="margin-top:100px" >
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-8 col-md-8">
                <form class="form-horizontal"  ng-controller="signupCtrl" name="signupForm" novalidate>
                    <fieldset>
                        <legend>Create account</legend>
                        <div class="form-group" ng-class="{'has-error' : signupForm.username.$invalid && signupForm.username.$dirty, 'has-success' :
                        signupForm.username.$valid && signupForm.username.$dirty}" >
                            <label for="inputUsername" class="col-lg-2 control-label">Username</label>
                            <div class="col-lg-10" >
                                <input type="text" name="username" class="form-control" id="inputUsername" placeholder="Username" required ng-model="user.username" ng-pattern="validation.word" ng-minlength="4">
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : signupForm.email.$invalid && signupForm.email.$dirty, 'has-success' :
                        signupForm.email.$valid && signupForm.email.$dirty}" >
                            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10" >
                                <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email" required ng-model="user.email">
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : signupForm.password.$invalid && signupForm.password.$dirty, 'has-success' :
                        signupForm.password.$valid && signupForm.password.$dirty}">
                            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-10">
                                <input type="password" name="password" ng-model="user.password" class="form-control" id="inputPassword" placeholder="Password" required>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : signupForm.passwordAgain.$invalid && signupForm.passwordAgain.$dirty, 'has-success' :
                        signupForm.passwordAgain.$valid && signupForm.passwordAgain.$dirty}">
                            <label for="inputPasswordAgain" class="col-lg-2 control-label">Password again</label>
                            <div class="col-lg-10">
                                <input type="password" name="passwordAgain" ng-model="user.passwordAgain" class="form-control" id="inputPasswordAgain" placeholder="Password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="btn btn-primary" ng-disabled="signupForm.$invalid && (signupForm.password!=signupForm.passworAgain)" ng-click="signup()">Create Account</button>
                            </div>
                        </div>
                    </fieldset>
                    <p ng-model="mesaj">{{ mesaj }}</p>
                </form>

            </div>
        </div>
    </div>
</div>