
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
    <script src="/javascripts/ui-bootstrap.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <!-- <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet"
          type="text/css"> -->

    <link href="/stylesheets/bootstrap-modif.css" type="text/css" rel="stylesheet"/>
    <script src="app.js"></script>
    <script src="services/userBackEndService.js"></script>
    <script src="services/carsService.js"></script>
    <script src="controllers/loginCtrl.js"></script>
    <script src="controllers/signupCtrl.js"></script>
    <script src="controllers/carController.js"></script>
    <script src="/controllers/modalController.js"></script>


